@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
	font-style: normal;
	font-size: 0.95rem;

	background-color: var(--color-zinc-800);
	color: var(--color-zinc-800);
}

html {
	scroll-behavior: smooth;
}

.scrollbar-hide {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrolltrack-hide::-webkit-scrollbar {
	width: 10px;
}
.scrolltrack-hide::-webkit-scrollbar-track {
	background: rgba(0,0,0,0);
}

.scrolltrack-hide::-webkit-scrollbar-thumb {
	background: rgb(167, 167, 167);
	border-radius: 10px;
}

.bg-primary {
	background-color: white;
}

.bg-secondary {
	background-color: var(--color-zinc-100);
}

.text-header-large {
	color: var(--color-zinc-900);
	font-weight: bold;
	font-size: var(--text-3xl)
}

.text-header-medium {
	color: var(--color-zinc-800);
	font-weight: 600;
	font-size: var(--text-xl);
}

.text-header-small {
	color: var(--color-zinc-800);
	font-weight: 600;
	font-size: var(--text-lg);
}

.text-subtitle {
	color: var(--color-zinc-400);
}

.text-subtitle-secondary {
	color: var(--color-zinc-400);
	font-size: var(--text-xs);
}

.border-primary {
	border-color: var(--color-zinc-300);
}

.hover\:border-primary:hover {
	border-color: var(--color-zinc-500);
}

.icon-primary {
	color: var(--color-zinc-500);
	transition: all ease-in-out 300ms;
}

.gradient-primary {
	background: linear-gradient(100deg, rgba(238, 174, 202, 0.25) 0%, rgba(148, 187, 233, 0.25) 100%);
}

.hover\:gradient-primary:hover {
	background: linear-gradient(100deg, rgba(238, 174, 202, 0.25) 0%, rgba(148, 187, 233, 0.25) 100%);
}

.hover\:bg-secondary:hover {
	background-color: var(--color-zinc-100);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.hover\:button-transparent:hover {
	background-color: var(--color-zinc-200);
}

.text-gradient {
	background: linear-gradient(90deg, var(--color-blue-600), var(--color-violet-700));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button-primary {
	background: linear-gradient(to right, var(--color-blue-500), var(--color-violet-600));
	box-shadow: 0 8px 10px rgba(71, 43, 255, 0.4);
	color: var(--color-zinc-50);
	border-radius: var(--radius-xl);
	font-weight: 600;
	font-size: var(--text-base);
	transition: all 0.2s ease;
	cursor: pointer;
}

.button-primary-pricing {
	background: linear-gradient(to right, var(--color-green-500), var(--color-green-600));
	color: var(--color-zinc-50);
	border-radius: var(--radius-xl);
	font-weight: 600;
	font-size: var(--text-base);
	transition: all 0.3s ease;
	cursor: pointer;
}

.button-primary:hover {
	opacity: 0.85;
}

.button-outline {
	background-color: transparent;
	border: 1px solid var(--color-zinc-500);
	color: var(--color-zinc-500);
	border-radius: var(--radius-lg);
	font-weight: 600;
	font-size: var(--text-base);
	transition: background-color 0.2s ease, color 0.2s ease;
	cursor: pointer;
}

.button-outline:hover {
	background-color: var(--color-zinc-100);
	color: var(--color-zinc-700);
}

.card-shadow {
	box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.08);
}

td:first-child,
th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

td:last-child,
th:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}

@keyframes redBorderPulse {
	0% {
		border-color: var(--color-red-200)
	}
	50% {
		border-color: var(--color-red-500)
	}
	100% {
		border-color: var(--color-red-200)
	}
}

.animate-redBorderPulse {
	animation: redBorderPulse 1.5s ease-in-out infinite;
}

input:focus, textarea:focus, select:focus {
	outline: none;
	border: 2px solid var(--color-blue-500);
}

input:hover, textarea:hover, select:hover {
	border: 1px solid var(--color-zinc-500);
}